#root {
    height: 100%;
    width: 100%;
    position: fixed;
}
.app{
    display: flex;
    padding: 20px;
    height: 100%;
}

.tile {
    min-height: initial;
}

.app .tile {
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
}

.panel-heading {
    flex: 0 0 auto;
}

.panel-block {
    flex: 1 1 auto;
    align-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.panel-footer {
    flex: 0 0 auto;
    align-self: flex-end;
}

.holdings .panel-heading {
    background-color: hsl(171, 100%, 41%);
}

.account-type-details .panel-heading {
    background-color: hsl(204, 86%, 53%);
}
